.App {
  text-align: center;
}

.crossedOff {
  text-decoration: line-through;
  text-decoration-color: midnightblue;
  text-align: left;
  margin-left: 45px;
  font-size: 44px;
  color: antiquewhite;
}

.crossedOff input {
  opacity: 0;
}

.notCrossedOff {
  text-emphasis: none;
  text-align: left;
  margin-left: 45px;
  font-size: 44px;
  color: antiquewhite;
}

.notCrossedOff input {
  opacity: 0;
}

.listDiv {
  display: flex;
  flex-direction: column;
}

button {
  height: 44px;
  width: 350px;
  margin: 2px;
  font-size: 35px;
  border-radius: 8px;
  border: none;
}
button:active {
  transform: scale(0.98);
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

body {
  background-color: #426775;
}

#itemInput {
  width: 48vw;
  height: 6vh;
  font-size: 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px ;
  padding: 6px;
}

#input-button-outerDiv {
  margin-bottom: 40px;
}

.listLabel {
  text-align: left;
  margin-left: 45px;
  font-size: 44px;
  color: antiquewhite;

}

.listLabel input {
  opacity: 0;
}

#addButton {
  background-color: lightseagreen;
  cursor: pointer;
}

#deleteButton {
  background-color: #ff6161;
  cursor:pointer
}
  
#addButton:hover, #deleteButton:hover {
  cursor: pointer;
  }


